<!-- Header -->
<header id="header" class="header header-sticky" >
    <div class="header-wrap" >
        <div class="header-nav" >
            <div class="container" >
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <p id="logo" class="logo">
                            <a href="index.php" rel="home">
                                <img src="images/common/logo.png" alt="brainstorm" />
                            </a>
                        </p><!-- /.logo -->
                    </div>
                    <div class="col-sm-9  col-xs-6">
                        <div class="btn-menu"></div>
                        <nav id="mainnav" class="mainnav">

                            <ul class="menu">

                                <li class="active"><a  onclick="updatefiltre()" href="index.php">Accueil</a></li>
                                <li><a href="organisation/quisommenous.html">Qui Sommes-nous ?</a>
                                    <ul class="sub-menu">
                                        <li><a href="organisation/presentation.html">Présentation</a></li>
                                        <li><a href="organisation/organisation.html">Organisation</a></li>
                                        <li><a href="organisation/valeurs.html">Valeurs / Ambition / Vision</a></li>
                                        <li><a href="organisation/groupe.html">Nos Actionnaires</a></li>
                                    </ul><!-- /.submenu -->
                                </li>

                                <li><a href="#NosProduits">Produits & services </a>
                                    <ul class="sub-menu">
                                        <li><a onclick="myfonction('part')" href="#NosProduits">Particuliers</a></li>
                                        <li><a onclick="myfonction('prof')" href="#NosProduits">Professionnels</a></li>
                                        <li><a onclick="myfonction('entrep')" href="#NosProduits">Entreprises</a></li>
                                    </ul><!-- /.submenu --></li>
                                    <li><a href="#">Contact</a>


                                        <ul class="sub-menu">
                                            <li><a href='https://mobileapp.agb.dz/#/public/contact'>Contactez-nous</a></li>
                                            <li><a href='https://mobileapp.agb.dz/#/public/signaler-problem'>Signaler un problème</a></li>									
                                        </ul>

                                    </li>
                                    <li><a class="online"><i class="fa fa-phone" aria-hidden="true"></i> 3304 </a></li>
                                    <li ><a class="online" href="https://mobileapp.agb.dz/#/public/authentication/login" ><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp AGB online </a></li>

                                </ul><!-- /.menu -->
                            </nav>
                        </div>

                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->

        </div><!-- /.header-wrap -->
    </header><!-- /.header --> 